# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
venv.bak/
ENV.bak/

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# OS-specific
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo
